extends _layout-modal

block content
	
	.title(style="font-size: 24px; margin: 20px") Авторизация

	ul(style="font-size: 24px; margin: 20px 20px 40px")
		li(style="margin-bottom: 15px")
			a(href='input-phone.html') Ввод номера
		li(style="margin-bottom: 15px")
			a(href='input-phone-error.html') Ввод номера с ошибкой
		li(style="margin-bottom: 15px")
			a(href='input-code.html') Код подтверждения
		li(style="margin-bottom: 15px")
			a(href='relationship.html') Заявка на сотрудничество
		li(style="margin-bottom: 15px")
			a(href='congratulations.html') Заявка успешно отправлена


	.title(style="font-size: 24px; margin: 20px") Портал партнера
		ul(style="font-size: 24px; margin: 20px 20px 40px")
			li(style="margin-bottom: 15px")
				a(href='main.html') Главная страница
			li(style="margin-bottom: 15px")
				a(href='structure-filters.html') Структура фильтров
			li(style="margin-bottom: 15px")
				a(href='products-list.html') Список товаров
			li(style="margin-bottom: 15px")
				a(href='cabinet.html') Личный кабинет
