extends _layout-modal

block content

	.popup.popup_red
		.popup__inner.w745
			.popup__head
				.popup-img
					img(src="img/logo-business.png", alt="")
			.popup__body
				.popup__content.popup__content_mg_lg
					.popup-img
						img(src='img/ok.png', alt='')
					.popup__title.popup__title_lg.popup__title_mb_mid ваша заявка успешно отправлена!

					.popup__subtitle менеджер смартс скоро свяжется с вами для обсуждения дальнейшего сотрудничества


